.home-card {
  background-color: #fff;
  height: 300px;
  width: 250px;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-areas: "col1" "col2";
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  justify-self: center;

  &:hover {
    transform: scale(1.05);
  }

  .card-head {
    grid-area: col1;
    display: flex;
    justify-content: center;
    align-items: center;

    .card-img {
      height: 120px;
      width: 210px;
      border-radius: 5px;
      object-fit: cover;
      background-color: #0d0d0d;
      margin-top: 0.5rem;
    }
  }

  .card-body {
    grid-area: col2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
    margin: 1rem;
    background-color: #0d0d0d;
    border-radius: 10px;
    padding: 2px;
    color: #fff;

    .card-title {
      font-size: 24px;
      font-weight: 700;
    }

    .card-price {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 18px;
    }
    .card-description {
      font-size: 14px;
      text-align: center;
      padding: 2px;
    }
  }
}
